extends ../layouts/main.pug

block head
  title="Jörg Wegener"
  //link(href=require('../components/hero/index.scss') rel='stylesheet')
  //link(href=require('../components/person/index.scss') rel='stylesheet')
  //link(href=require('../components/qualification/index.scss') rel='stylesheet')

block content
  script(src=require('./index.js') defer='defer')
  header.page#header
    a(href="#qualification")  Qualifikationen
    a(href="#experience")  Erfahrung
    a(href="#portfolio")  Portfolio
    a(href="#contact")  Kontakt

  main
    include ../components/hero/index.pug
    include ../components/person/index.pug
    include ../components/qualification/index.pug

    section#experience
      h2 Erfahrungen
      div.timeline
        div.container.left
          div.text-box
            h3 Jetzt
            p Haben Sie die nächste, spannende Herausforderung für mich?
          span.time 2024
        div.container.left
          div.text-box
            h3 Buch
            p Windows Presentation Foundation beim Carl Hanser Verlag
          span.time 2008
        div.container.right
          div.text-box
            h3 Selbständigkeit
            p Neue spannenede Herausforderungen im Web, Desktop und Server-Umfeld
          span.time 2007
        div.container.left
          div.text-box
            h3 Studium
            p.
              Information Betriebswirt (VWA)<br>
              Bachelor of Business Administration
          span.time 2004
        div.container.right
          div.text-box
            h3 Angesteller
            p First Level Support und Aufbau des Firmen Intranets
          span.time 1998
        div.container.left
          div.text-box
            h3 Ausbildung
            p Grundstein für meine berufliche Karriere
          span.time 1996

    section#portfolio
      p
        | EnBW
        | Yello
        | ROWA
        | Jenoptik

    section#contact
      h2 Kontakt

    footer.page
      div
        h2 Impressum
        div
        | Jörg Wegener
        br
        | Röpkestr. 13
        br
        | 40235 Düsseldorf
      div
        | Impressum
        br
        | Datenschutz
        br
        | Kontakt
        br
        a(href="https://de.wix.com/website-template/view/html/1885?originUrl=https%3A%2F%2Fde.wix.com%2Fwebsite%2Ftemplates%2Fhtml%2Fall%2F3&tpClick=view_button&esi=e33fe021-3899-41e2-86dc-3136bcb4d947") Referenz
